# Compiler/linker output.
#
*.o
*.o.d
*.so
*.a
*.l
*.l.cpp-options

# Generated documentation.
#
*.pdf
*.ps

# Generated build system files.
#
*-dynamic.make

# Generated .gitignore files.
#
.gitignore

# Convenience symlink to the XSD binary built in a separate directory.
#
xsd/xsd
